<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rock+Salt" rel="stylesheet">

	</head>
	<body>
		<div class="container">
				{{ partial "header.html" . }}
			<div class="talk mbtop hidden">
				<form class="speech" action="http://{{ $.Site.Params.raspberrypi }}{{ $.Site.Params.port }}/talk/" method="post" id="talking">
					<input type="text" name="speech" id="speech" placeholder="Text to speech" />
					<input type="submit" value="Talk!"/>
				</form>
			</div>

			<div class="talk hidden">
				<form class="remote" action="http://{{ $.Site.Params.raspberrypi }}{{ $.Site.Params.port }}/remote/" method="post" id="talking">
					<input type="text" name="remote" id="remote" placeholder="File url to play (mp3)" />
					<input type="submit" value="Play!"/>
				</form>
			</div>

			<div class="main hidden">
				<ul id="og-grid" class="og-grid">
					{{ range $.Site.Data.items.items }}
					<li style="background-color: {{.color}}">
						<form class="sound" action="http://{{ $.Site.Params.raspberrypi }}{{ $.Site.Params.port }}/play/{{.url}}" method="post" id="{{.url}}">
							<input type="submit"  value="{{.title}}"/>
            </form>
					</li>
					{{ end }}
				</ul>
				{{ partial "footer.html" . }}
			</div>
		</div>
		{{ partial "scripts.html" . }}
	</body>
</html>

